body{
	background-image: url("wall.png");
	padding: 100px 100px;
}

.doel1{
	background-color: #ccc;
	border: 15px solid #666;
	padding: 20px;
}

.doel2{
	background-color: #666;
	border: 12px solid #ccc;
	color: #fff;
	padding: 20px;
}
.doel2 a{
	color: #fff;
	font-style: italic;
}

.doel3{
	background-color: #eceaed;
	border: 12px solid #595959;
	color: #888789;
	padding: 20px;
}
.done1{
	border: 8px solid #c17cf0;
	background-image: linear-gradient(red, yellow);
	padding: 20px;
}
.done1 a{
	color: #915eb5;
	font-weight: bold;
}
.done2{
	border: 15px solid #fe368e;
	background-image: linear-gradient(#a362b5, #6bc9d5);
	padding: 20px;
}
.done2 a{
	color: #fff;
	font-weight: bold;
}
.done3{
	border: 15px solid #fb6d00;
	background-image: linear-gradient(#ff0000, #24ca00);
	padding: 20px;
}
.done3 a{
	color: #fff;
	font-weight: bold;
}
.done4{
	border: 15px solid #fb6d00;
	background-image: linear-gradient(#ff0000, #4a5dc8);
	padding: 20px;
}
.done4 a{
	color: #fff;
	font-weight: bold;
}

.poster{
	position: absolute;
}
img{
	width: 110%;
}
.poster .metadata{
	display: none;
	background-color: #000;
	padding: 6px;
	font-family: "Courier New", Courier, monospace;
	color: #fff;
	width: 110%;
	font-weight: bold;
	line-height: 1em;
}
.metadata h3{
	font-size: 20px;
	font-weight: bold;
}